@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --white-color2: #fff;
  --orange-color: #e5df45;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --primary-color: #347474;
  --text-color: #e7ddc8;
  --dark-blue: #35495e;
  --green-blue: #63b7af;
  --brown-color:#784247;
  --poppins: "Poppins", sans-serif;
  --lora: "Lora", serif;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-poppins {
  font-family: var(--poppins);
}

.font-lora {
  font-family: var(--lora);
}

.lightblue {
  color: lightblue;
}

header {
  background-color: var(--color);
  font-family: var(--poppins);
  box-shadow: 0 0 5px 2px var(--border);
}

.navbar {
  background-color: var(--text-color) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-nav {
  padding: 0.8em 0em;
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--dark-blue) !important;
}

#navbarSupportedContent > ul > li:nth-child(1) > a {
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1px;
  color: black !important;
}

.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}
.navbar-nav .nav-item a::after{
    content:'';
    background-color: var(--dark-blue);
    width: 0;
    display: block;
    margin-top: 4px;
    height: 2px;
}

.navbar-nav .nav-item  a:hover::after{
  width: 100%;
  transition: .5s;
}

.nav-right-search i{
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px; 
  cursor: pointer;
  font-size: 1.2em !important;
}

.nav-right-search i:hover{
  background-color: var(--dark-blue);
  color: var(--white-color);
  transition: .3s;

}


.w-100-height {
  width: 100%;
  height: 75vh;
}

.carousel-caption {
  z-index: 2;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
}
.carousel-item {
  overflow: hidden;
}
.carousel-item img {
  object-fit: cover;
}


 
.up-center-text h2 {
  text-align: center;
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  font-weight: 500;
  margin: 30px;
  color: var(--brown-color);
  font-family: var(--lora);
  font-style: italic;
}
.update-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 20px;
  text-align: center;
}

.cart img {
  width: 380px;
  border-radius: 10px;
}

.cart h5 {
  color: var(--green-blue);

}
.cart p {
  color: var(--dark-blue);
}
.cart h4 {
  margin: 10px 0;
  padding: 0 30px;
  color: var(--brown-color);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.cart h6 {
  margin-top: 10px;
  color: var(--primary-color);
}
.footer{
  background-color: var(--text-color) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.footer-content{
  color: var(--dark-blue);
} 
.footer-content .first{
  flex: 1;
}

.footer-content .sm-footer{
  flex: 1;
}
.footer-copy{
  font-size: clamp(12px, 2vw, 1rem);
}
.footer-beyza{
  color: var(--brown-color) !important;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
}

.hr {
  border: 1px solid gray;
}

@media (max-width:576px){
  .first-section .carousel-item img{
    height: 300px;
    width:450px;
    object-fit: cover;
    overflow: hidden;
  }

  .update-news .cart img{
    width: 100%;
  }
  .update-news .cart{
    margin: 0 10px;
    overflow: hidden;
  }

}

@media (max-width:400px){
  .sm-footer .third{
    margin-left:0 !important ;
    padding-left: 0 !important;
  }

}